# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.sln.docstates

# Visual Studio cache
.vs/
.vscode/

# NuGet
*.nupkg
packages/

# .NET Core
project.lock.json
artifacts/ 
game.log
game.log
salvataggio.json
config.json
game.log
game.log
